<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.user.mapper.UserMapper">


    <select id="getAllUser" resultType="com.atguigu.gmall.bean.UmsMember">
  select id,username,password from ums_member

 </select>


    <select id="getAllUserMap" resultType="map">
  select id,username,password,DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s')  create_time from ums_member
 </select>


    <select id="getOneMapUSer" resultType="map">
      select  IFNULL(icon,'')  from ums_member  limit 1,1;
 </select>
</mapper>
